.loader {
    width: 40%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader_container {
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 0 auto;
    width: fit-content;
}

.loader_title {
    font-size: 32px;
}

.loader_img {
    animation: 3s rotation infinite;
}

@keyframes rotation {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}
