@media (width > 1250px) {
    .clouds_link {
        position: absolute;
        top: 10vh;
        left: 0;
        overflow: hidden;
    }

    .clouds_img {
        position: relative;
        overflow: hidden;
        height: 40vh;
        z-index: -2;
        top: 0;
        left: 0;
    }
}

@media (width < 1250px) {
    .clouds_link {
        position: absolute;
        width: fit-content;
        top: 10vh;
        left: 0;
        overflow: hidden;
    }

    .clouds_img {
        position: relative;
        overflow: hidden;
        width: 75vw;
        z-index: -2;
        top: 0;
        left: 0;
    }
}

@media (width < 500px) {
    .clouds_link {
        position: absolute;
        width: fit-content;
        top: 30vh;
        left: 0;
        overflow: hidden;
    }

    .clouds_img {
        position: relative;
        overflow: hidden;
        width: 75vw;
        z-index: -2;
        top: 0;
        left: 0;
    }
}
