.no_user_select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    pointer-events: none;
}

@media (min-width: 1250px) {
    .clouds_link {
        position: absolute;
        top: 10vh;
        left: 0;
        overflow: hidden;
    }

    .clouds_img {
        position: relative;
        overflow: hidden;
        height: 40vh;
        z-index: -2;
        top: 0;
        left: 0;
    }
}

@media (max-width: 1250px) {
    .clouds_link {
        position: absolute;
        width: fit-content;
        top: 10vh;
        left: 0;
        overflow: hidden;
    }

    .clouds_img {
        position: relative;
        overflow: hidden;
        width: 75vw;
        z-index: -2;
        top: 0;
        left: 0;
    }
}

@media (max-width: 500px) {
    .clouds_link {
        position: absolute;
        width: fit-content;
        top: 30vh;
        left: 0;
        overflow: hidden;
    }

    .clouds_img {
        position: relative;
        overflow: hidden;
        width: 75vw;
        z-index: -2;
        top: 0;
        left: 0;
    }
}
